<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tobi.slideshowwallpaper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".SlideshowWallpaperService"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/slideshow_wallpaper" />
        </service>

        <activity
            android:name=".preferences.WallpaperPreferencesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/PreferenceTheme" >
        </activity>
        <activity
            android:name=".preferences.ImagePreferencesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/PreferenceTheme" >
        </activity>
    </application>

</manifest>
